<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="dark-theme">
    <div class="navbar">
        <h1>Financial Data</h1>
    </div>
    <div class="data-container">
        <div class="data-card" id="USD/INR">
            <h2>USD/INR</h2>
            {{ usd_inr }}   
        </div>

        <div class="data-card" id="NIFTY">
            <h2>NIFTY</h2>
            <p>{{ nifty }}</p>
        </div>
    
        <div class="data-card" id="SENSEX">
            <h2>SENSEX</h2>
            <p>{{ sensex }}</p>
        </div>
    </div>
    <div class="data-container">
        <form action="/generate_plots" method="post">
            <label for="input_date">Input Date:</label>
            <input type="date" id="input_date" name="input_date" required>
            <button type="submit">Generate Plots</button>
        </form>

        {% if nifty_plot %}
            <h2>NIFTY Predictions</h2>
            <img src="{{ nifty_plot }}" alt="NIFTY Plot">
        {% endif %}

        {% if sensex_plot %}
            <h2>SENSEX Predictions</h2>
            <img src="{{ sensex_plot }}" alt="SENSEX Plot">
        {% endif %}
    </div> 
</body>
</html>
